#projects-form{
    margin:12px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form-field{
    display: flex;
    flex-direction: row;
}
.form-field>*{
    margin: 0 12px;
    order:1;
}
.form-right{
    display:flex;
    flex-direction: column;
}
#add-field-input{
    order: 2;
}
#butt{
    order: 3;
}
.type-input{
    display: none;
}
.input-active{
    display: flex;
    flex-direction: column;
    margin-left: 28px;
}