form{
    margin:12px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
span{
    display: flex;
    flex-direction: row;
}
span *{
    margin: 0 12px;
    order:1;
}
#add-field-input{
    order: 2;
}
#butt{
    order: 3;
}