form{
    margin:12px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}
div{
    display: flex;
    align-items: flex-start;
}
span{
    display: flex;
    flex-direction: row;
}
span>*{
    order:1;
}
#add-field-input{
    order: 2;
}
#butt{
    order: 3;
}
.filter-input{
    display: none;
}
.filter-input-active{
    display: unset;
}